html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main,
section {
  display: block
}

a {
  background: 0 0
}

a:active,
a:hover {
  outline: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

img {
  border: 0
}

html {
  font-size: 62.5%;
  box-sizing: border-box
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

img {
  max-width: 100%;
  height: auto
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-variant-ligatures: common-ligatures;
  -moz-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility
}

i {
  font-style: italic;
  line-height: inherit
}

b {
  font-weight: 700;
  line-height: inherit
}

a {
  text-decoration: none;
  line-height: inherit
}

a img {
  border: none
}

.row {
  width: 94%;
  max-width: 1140px;
  margin: 0 auto
}

.row:after,
.row:before {
  content: "";
  display: table
}

.row:after {
  clear: both
}

.row .row {
  width: auto;
  max-width: none;
  margin-left: -20px;
  margin-right: -20px
}

[class*=col-] {
  float: left
}

[class*=col-] {
  padding: 0 20px
}

.col-1-6 {
  width: 16.66667%
}

.col-1-4 {
  width: 25%
}

.col-1-3 {
  width: 33.33333%
}

.col-1-2 {
  width: 50%
}

.col-2-3 {
  width: 66.66667%
}

.col-3-4 {
  width: 75%
}

.col-5-6 {
  width: 83.33333%
}

.col-twelve {
  width: 100%
}

@media screen and (max-width:1024px) {
  .row .row {
    margin-left: -18px;
    margin-right: -18px
  }
  [class*=col-] {
    padding: 0 18px
  }
}

@media screen and (max-width:768px) {
  .row {
    width: auto;
    padding-left: 30px;
    padding-right: 30px
  }
  .row .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px
  }
  [class*=col-] {
    padding: 0 15px
  }
}

@media screen and (max-width:600px) {
  .row {
    padding-left: 25px;
    padding-right: 25px
  }
  .row .row {
    margin-left: -10px;
    margin-right: -10px
  }
  [class*=col-] {
    padding: 0 10px
  }
}

@media screen and (max-width:400px) {
  .row .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0
  }
  [class*=col-] {
    width: 100%!important;
    float: none!important;
    clear: both!important;
    margin-left: 0;
    margin-right: 0;
    padding: 0
  }
}

[class*=block-]:after,
[class*=block-]:before {
  content: "";
  display: table
}

[class*=block-]:after {
  clear: both
}
