@font-face {
    font-family: 'poppins-semibold';
    src: url('../fonts/poppins/poppins-semibold-webfont.eot');
    src: url('../fonts/poppins/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff'),
         url('../fonts/poppins/poppins-semibold-webfont.ttf') format('truetype'),
         url('../fonts/poppins/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
